h1{
  font-size: 40px;
  font-family: Roboto;
  text-align: center;
}

#bannerimg {
  width:100%;
  object-fit: cover;
}

h2{
  font-family: Roboto;
  text-align: center;
}

.bodytext {
  font-family: Roboto;
}

#container{
  max-width: 720px;
  margin: 0 auto 0 auto; 
}
